/* ============================================
typography
============================================ */
:root {
  --color-gray-100: hsl(0, 0%, 6%);
  --color-gray-200: hsl(0, 0%, 12%);
  --color-gray-300: hsl(0, 0%, 24%);
  --color-gray-400: hsl(0, 0%, 48%);
  --color-gray-500: hsl(0, 0%, 60%);
  --color-gray-600: hsl(0, 0%, 72%);
  --color-gray-700: hsl(0, 0%, 84%);
  --color-gray-800: hsl(0, 0%, 96%);

  --color-white: white;

  --color-green: oklch(91.129% 0.06876 136.738);
  --color-green-light: oklch(from var(--color-green) 98% c h);
  --color-green-dark: oklch(from var(--color-green) 60% calc(c + 0.09) h);

  --color-blue: oklch(91.129% 0.06876 214.693);
  --color-blue-light: oklch(from var(--color-blue) 98% c h);
  --color-blue-dark: oklch(from var(--color-blue) 60% calc(c + 0.09) h);

  --color-orange: oklch(92.08% 0.04687 74.436);
  --color-orange-light: oklch(from var(--color-orange) 98% c h);
  --color-orange-dark: oklch(from var(--color-orange) 60% calc(c + 0.09) h);

  --color-purple: oklch(82.047% 0.08009 300.148);
  --color-purple-light: oklch(from var(--color-purple) 98% c h);
  --color-purple-dark: oklch(from var(--color-purple) 60% calc(c + 0.09) h);

  --color-txt-primary: var(--color-gray-100);
  --color-txt-secondary: var(--color-gray-400);

  --color-accent: var(--color-green);
  --color-accent-light: var(--color-green-light);
  --color-accent-dark: var(--color-green-dark);
}

[data-theme="green"] {
  --color-accent: var(--color-green);
  --color-accent-light: var(--color-green-light);
  --color-accent-dark: var(--color-green-dark);
}

[data-theme="blue"] {
  --color-accent: var(--color-blue);
  --color-accent-light: var(--color-blue-light);
  --color-accent-dark: var(--color-blue-dark);
}

[data-theme="orange"] {
  --color-accent: var(--color-orange);
  --color-accent-light: var(--color-orange-light);
  --color-accent-dark: var(--color-orange-dark);
}

[data-theme="purple"] {
  --color-accent: var(--color-purple);
  --color-accent-light: var(--color-purple-light);
  --color-accent-dark: var(--color-purple-dark);
}
