/* ============================================
container
============================================ */

.container {
  --container-padding: 18px;
  --container-size: 1500px;

  margin: 0 auto;
  max-inline-size: var(--container-size);
  padding-inline: var(--container-padding);

  @media (width >= 750px) {
    --container-padding: 32px;
  }
}

.container-medium {
  --container-size: 1024px;
}

.container-small {
  --container-size: 600px;
}
