/* ============================================
fluidvideo
============================================ */

.fluidvideo {
  aspect-ratio: 16/9;
  background-color: black;
  inline-size: 100%;
  block-size: auto;
}

.fluidvideo-4by3 {
  aspect-ratio: 4/3;
}
