/* ============================================
animation d'image
============================================ */

/* ============================================
zoom en hover
============================================ */

.oeuvre-img {
  scale: 1;
  transition: transform 0.2s ease-out;
}

.oeuvre-img:hover {
  transform: scale(1.02);
}
