/* ============================================
intro
============================================ */

.intro {
  text-align: center;
}

.intro-text {
  font-size: var(--fontsize-md);
  margin: 0 auto;
  max-inline-size: 70ch;
}

.intro-text-highlight {
  color: var(--color-accent-dark);
  font-weight: 450;
}
