/* ============================================
intro
============================================ */

.intro {
  text-align: center;
  margin-block-end: clamp(42px, 0.281rem + 7.5vi, 90px);
}

.intro-text {
  font-size: var(--fontsize-md);
  margin: 0 auto;
  max-inline-size: 70ch;
}

.intro-text-highlight {
  color: var(--color-accent-dark);
}
