/* ============================================
mainnav
============================================ */

.mainnav {
  --mainnav-gap: 30px;
  --mainnav-letter-spacing: 0.12ch;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: var(--mainnav-gap);

  @media (width >= 750px) {
    --mainnav-gap: 42px;
  }
}

.mainnav-link {
  padding-block: 6px;
  display: inline-block;
  font-weight: 600;
  font-size: var(--fontsize-sm);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text-primary);
  letter-spacing: var(--mainnav-letter-spacing);

  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    color: var(--color-accent-dark);
  }

  &.is-active {
    text-decoration: underline;
    text-underline-offset: 0.6ch;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-accent-dark);
  }
}
