/* ============================================
animation de mask
============================================ */
.card {
  inline-size: min(100%, 600px);
}

.card-link {
  display: grid;
  overflow: hidden;
}

.card-link > img {
  grid-area: 1 / 1;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.card-fullimage {
  z-index: 2;
}

.card-sketch {
  z-index: 1;
}

.card-fullimage {
  transition: clip-path 0.36s linear;
  clip-path: inset(0 0 0 100%);
}

a:hover .card-fullimage {
  clip-path: inset(0 0 0 0);
}
