/* ============================================
module mediatext
============================================ */

.module-mediatext {
  margin: 0;
}

.module-mediatext-content {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    "a"
    "b";
  gap: 24px;

  @media (width >= 750px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: "a b";
    gap: 60px;
  }

  @media (width >= 1024px) {
    grid-template-columns:
      minmax(0, 5fr)
      minmax(0, 1fr)
      minmax(0, 5fr)
      minmax(0, 1fr);
    grid-template-areas: "a . b .";
    gap: 32px;
  }
}

.module-mediatext-reverse .module-mediatext-content {
  @media (width >= 750px) {
    grid-template-areas: "b a";
  }

  @media (width >= 1024px) {
    grid-template-columns:
      minmax(0, 1fr)
      minmax(0, 5fr)
      minmax(0, 1fr)
      minmax(0, 5fr);
    grid-template-areas: ". b . a";
  }
}

.module-mediatext-media {
  grid-area: a;
}

.module-mediatext-text {
  grid-area: b;
  align-self: center;
}
