/* ============================================
slider
============================================ */

.slider {
  anchor-name: --slider;
  anchor-scope: --slider;
}

.slider-track {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min(72vi, 360px);
  gap: 32px;

  padding-block-end: 6px;

  overflow-x: scroll;
  scroll-snap-type: inline mandatory;
  scrollbar-color: var(--color-accent-dark) transparent;
  scrollbar-width: thin;
  overscroll-behavior: contain;

  scroll-behavior: smooth;
}

.slider-track::scroll-button(*) {
  position-anchor: --slider;
  position-area: block-end span-inline-start;
  position: absolute;
  border: none;
  background-color: var(--color-accent-dark);
  border-radius: 999px;
  inline-size: 42px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  font-family: system-ui;
  font-weight: 600;
}

.slider-track::scroll-button(*):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slider-track::scroll-button(left) {
  content: "←" / "Previous";
  translate: calc(-100% - 6px) 0;
}

.slider-track::scroll-button(right) {
  content: "→" / "Next";
}

.slider-slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
